<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card p-5 shadow">
        <div class="text-center pb-5">
          <%= image_tag "login_1.svg", class: "" , style: "max-width: 55%;"%>
        </div>
         <h1 class="h4 text-primary pb-4 pt-0 text-center">Log in</h1>
        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group pb-2">
            <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "form-control", placeholder: "E-mail", require: true %>
          </div>

          <div class="form-group pb-2">
            <%= f.password_field :password, autofocus: false,  class: "form-control", placeholder: "Password", require: true %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group pb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class:'form-check-label pl-2'%>
            </div>
          <% end %>

          <div class="actions d-flex justify-content-center py-2 pb-3">
            <%= f.submit "Log in", class: 'btn btn-primary text-uppercase' %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
