<div class="container mt-5">
  <div class="row justify-content-center p-4">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card p-5 shadow">
        <div class="text-center pb-5">
          <%= image_tag "forget_password.svg", class: "" , style: "max-width: 55%;"%>
        </div>
        <h2 class="h4 text-center text-primary mb-4">Forgot your password?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "form-control" %>
          </div>

          <div class="actions d-flex justify-content-center py-2 pb-3">
            <%= f.submit "Send reset password e-mail",  class: 'btn btn-primary text-uppercase'%>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>

