<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-12 p-2">
      <div class="card p-5 shadow">
        <div class="text-center pb-5">
          <%= image_tag "setup_profile.svg", class: "" , style: "max-width: 55%;"%>
        </div>
         <h1 class="h4 text-primary pb-4 pt-0 text-center">Let's Setup Your Profile</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="row">
            <div class="col-md-6 col-sm-12 mb-4">
              <%= f.text_field :first_name, class: "form-control", autofocus: false, placeholder: "First Name" %>
            </div>
            <div class="col-md-6 col-sm-12 mb-4">
              <%= f.text_field :last_name, class: "form-control", autofocus: false, placeholder: "Last Name" %>
            </div>
          </div>

          <div class="form-group mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          </div>

          <div class="form-group mb-4">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
          </div>

          <div class="form-group mb-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
          </div>

          <div class="actions d-flex justify-content-center py-2 pb-3">
            <%= f.submit "Sign Up", class: 'btn btn-primary text-uppercase' %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
